
<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Password</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let password of passwords">
            <td>{{password.Description}}</td>
            <td>{{password.PasswordText}}</td>
            <td><button (click)="removePassword(password.PasswordId)" class="btn btn-danger">Remove</button></td>
        </tr>
        <tr>
            <td><input [(ngModel)]="newDescription" class="form-control" placeholder="Description" /> </td>
            <td><input [(ngModel)]="newPassword" class="form-control" placeholder="password" /></td>
            <td><button (click)="addPassword()" class="btn btn-primary">Add</button></td>
        </tr>
    </tbody>
</table>
